    {% extends 'base.html.twig' %}
    {% block title%}Brand{% endblock %}
    {% block body %}
    <div class="brand_color">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Our Brand</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include('partials/_products.html.twig') %}

{% endblock %}