<div class="col-xs-12 col-sm-6 col-md-3">
<div class="sol">
  <img class="img-responsive" src="{{ asset('images/index/portfolio/' ~ image.file) }}" alt="First category picture">
  <div class="behind">
      <div class="head text-center">
        <ul class="list-inline">
          <li>
            <a class="gallery" href="{{ asset('images/index/gallery/' ~ image.file) }}" data-toggle="tooltip" data-original-title="Quick View">
            </a>
          </li>
        </ul>
      </div>
  </div>
</div>
</div> 